body {
    background-color: darkgray;
}
input[type=button]:not(.matchSubmit):not(.matchDelete):not(.matchCreate) {
    display: inline-block;
    float: left;
    margin-left: 38px;
}
#submitButton {
    margin-left: 10px;
}
.autoGen, #number {
    display: inline-block;
    float: left;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 7px;
}
.lable, .matchLable {
    display: inline-block;
    float: left;
    clear: left;
    width: 150px;
    text-align: left;
    padding-left: 10px;
    padding-top: 1px;
    margin-left: 30px;
    color: white;
    font-size: 20px;
}
.field, .matchField {
    display: inline-block;
    float: left;
    width: 350px;
    resize: none;
    overflow: hidden;
}
.matches {
    display: inline-block;
    float: left;
    width: 350px;
    height: 30px;
    padding-left: 15px;
}
.matchDiv {
    float: left;
    clear: left;
    padding: 10px;
    padding-left: 0px;
    border-style: solid;
    border-color: aqua;
    border-width: 2px;
    background-color: lightgray;
    margin-bottom: 10px;
}
.matchDelete {
    display: inline-block;
    clear: left;
    float: left;
    margin-left: 345px;
}
.matchSubmit {
    display: inline-block;
    float: left;
    margin-left: 10px;
}
.matchCreate {
    display: inline-block;
    clear: left;
    float: left;
    margin-left: 450px;
}
.number {
    text-align: center;
}